a {
  color: #909090;
  text-decoration: none;
}

a:hover {
  color: #606060;
}

body {
  font-family: sans-serif;
}

.avatar {
  border-radius: 0.1em;
  margin-right: 0.5em;
  vertical-align: middle;
  width: 2em;
}

.hidden {
  display: none;
}

.last-update {
  margin-left: 1em;
}

.no-assignee {
  background-color: red;
  display: inline-block;
  height: 2em;
}

#current-user {
  border-bottom: 1px solid #909090;
  padding-bottom: 1em;
}

#issues-list {
  list-style: none;
}

#issues-list li {
  height: 3em;
}

#team-list {
  padding: 1em;
}

#team-list button {
  background-color: white;
  border: 1px solid #909090;
  color: #606060;
  font-size: 120%;
}

#team-list button:focus {
  outline: none;
}

#team-list button:hover {
  background-color: #E0E0E0;
}

#team-list button.selected {
  font-weight: bold;
}

#team-list button:not(:last-of-type) {
  border-right: 0;
}

#team-list button:first-of-type {
  border-radius: 0.5em 0 0 0.5em;
}

#team-list button:last-of-type {
  border-radius: 0 0.5em 0.5em 0;
}
